@{
    ViewBag.Title = "Medic";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

@model HealthConnectWeb.Models.Medic

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Hello, @Model.Nume @Model.Prenume</h2>
            <div class="row">
                <div class="col-md-2">
                    @Ajax.ActionLink("Arata Pacienti", "ShowAllPacients", "Home", new AjaxOptions { UpdateTargetId = "pacientiTable" , OnBegin = "Show()", OnSuccess = "Hide()"}, new { @class = "btn btn-info", id="showButton" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Cauta Pacient", "ShowAllPacients", "Home", new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Logout", "Logout", "Home", new { @class = "btn btn-primary" })
                </div>
            </div>
            <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                    opacity: .8; filter: alpha(opacity=70);display:none">
                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                    Loading, please wait...<img src="../../Content/ajax-loading.gif">
                </p>
            </div>
            <div class="row" style="margin-top:10px">
                <div id="pacientiTable"></div>
                <div id="pacientTable"></div>
            </div>
        </div>
        <h2>Adauga pacient</h2>
        <div class="col-md-4" id="addPacient">
        </div>
        @Ajax.ActionLink("Adauga pacient", "SetPacient", "Home", new AjaxOptions { UpdateTargetId = "addPacient", OnSuccess = "HideButton()" }, new { @class = "btn btn-success", @id = "adauga" })     
    </div>
</div>

@section CustomScripts
   {
    <script type="text/javascript" language="javascript">
    function Show() {
        $("#divLoading").show();
    }

    function Hide() {
        $("#divLoading").hide();
    }

    function HideButton() {
        $("#adauga").hide();
    }

    function HideForm() {
        $("#addForm").hide();
        $("#adauga").show();
        $("")
    }
    function HideFormEdit() {
        $("#editForm").hide();
        $("#edit").show();
    }

    function Refresh() {
        $("#showButton").click();
    }

    //function Success() {
    //    $("#status").append("<panel id='statuscode' class='panel panel-success' style='width: 20px;'>Success</panel>")
    //}

    //function Fail() {
    //    $("#status").append("<panel id='statuscode' class='panel panel-alert' style='width: 20px;'>Something went wrong.Please try again.</panel>")
    //}

    //function HideStatus() {
    //    $('#statuscode').remove();
    //}

</script>
}